In [1]:
# tuple

In [2]:
t = ()
type(t)

tuple

In [3]:
tb = (1)
type(tb)

int

In [4]:
tb = (1,)
type(tb)

tuple

In [5]:
t1 = (1,2,3,4,5,6,45+6j,"Krishna",False)
t1

(1, 2, 3, 4, 5, 6, (45+6j), 'Krishna', False)

In [6]:
l = [1,2,3,4]
type(l)

list

In [7]:
l = tuple(l)
type(l)

tuple

In [8]:
l

(1, 2, 3, 4)

In [9]:
t1[0]

1

In [10]:
t1[::-1]

(False, 'Krishna', (45+6j), 6, 5, 4, 3, 2, 1)

In [11]:
t1 = t1[::-1]

In [12]:
t1

(False, 'Krishna', (45+6j), 6, 5, 4, 3, 2, 1)

In [13]:
t1.count("Krishna")

1

In [14]:
t1.index(2)

7

In [15]:
t1.index(True) # True = 1

8

In [16]:
# Tuple are Basically follows Immutability concept 
# where is not going to allow to change any element 
# at a particular index

In [17]:
t1[0] = 345

TypeError: 'tuple' object does not support item assignment

In [19]:
# we can change elements in tuple by converting list
t1 = list(t1)
t1

[False, 'Krishna', (45+6j), 6, 5, 4, 3, 2, 1]

In [20]:
t1[3] = 100

In [21]:
t1 = tuple(t1)
t1

(False, 'Krishna', (45+6j), 100, 5, 4, 3, 2, 1)

In [22]:
for i in t1:
    print(i,type(i))

False <class 'bool'>
Krishna <class 'str'>
(45+6j) <class 'complex'>
100 <class 'int'>
5 <class 'int'>
4 <class 'int'>
3 <class 'int'>
2 <class 'int'>
1 <class 'int'>

In [23]:
t2 = (1,2,3,4,5)
t2

(1, 2, 3, 4, 5)

In [24]:
t2 * 3

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [25]:
max(t2)

5

In [26]:
t3 = (t1,t2)
t3

((False, 'Krishna', (45+6j), 100, 5, 4, 3, 2, 1), (1, 2, 3, 4, 5))

In [27]:
t4 = t1+t2
t4

(False, 'Krishna', (45+6j), 100, 5, 4, 3, 2, 1, 1, 2, 3, 4, 5)

In [28]:
t5 = (t2,[1,3,5,7,9])
t5

((1, 2, 3, 4, 5), [1, 3, 5, 7, 9])

In [29]:
del t5

In [30]:
t5

NameError: name 't5' is not defined

In [31]:
len(t3)

2

In [32]:
t3

((False, 'Krishna', (45+6j), 100, 5, 4, 3, 2, 1), (1, 2, 3, 4, 5))

In [33]:
4 in t3

False

In [34]:
4 in t1

True

In [35]:
# set

In [36]:
s = {}
type(s)

dict

In [37]:
s1 = {1,2,3,4,5,6}
s1

{1, 2, 3, 4, 5, 6}

In [38]:
type(s1)

set

In [39]:
s2 = {1,1,2,3,5,5,4,4,4,4,4,4,4,4,8,5,6,78,84,87,77,41,78,78}
s2 # set contains only unique values

{1, 2, 3, 4, 5, 6, 8, 41, 77, 78, 84, 87}

In [40]:
s4 = {1,2,3,4,[1,2,3,4]} # beacuse lists are mutable we cannot store imutable contains only

TypeError: unhashable type: 'list'

In [41]:
s5 = {1,2,3,4,5,"Krishna",False,True}
s5

{1, 2, 3, 4, 5, False, 'Krishna'}

In [42]:
s5 # sets are unorderd

{1, 2, 3, 4, 5, False, 'Krishna'}

In [43]:
s3 = {1,2,3,4,5,(1,2,3,4,5)}
s3

{(1, 2, 3, 4, 5), 1, 2, 3, 4, 5}

In [44]:
s5[0]

TypeError: 'set' object is not subscriptable

In [45]:
s5[::-1]

TypeError: 'set' object is not subscriptable

In [46]:
for i in s5:
    print(i)

False
1
2
3
4
5
Krishna

In [47]:
s5.add(100)
s5

{1, 100, 2, 3, 4, 5, False, 'Krishna'}

In [48]:
len(s5)

8

In [49]:
s5.pop()
s5

{1, 100, 2, 3, 4, 5, 'Krishna'}

In [50]:
s5.clear()
s5 # It returns empty sets

set()

In [51]:
#More Operations

In [52]:
s8 = {1,2,3,4}
s9 = {1,2,3,5}

In [53]:
s8.difference(s9)

{4}

In [54]:
s8.union(s9)

{1, 2, 3, 4, 5}

In [55]:
s8.intersection(s9)

{1, 2, 3}