In [1]:
name = "Krishna Baraskar"

In [2]:
name.upper()

'KRISHNA BARASKAR'

In [3]:
name.capitalize()

'Krishna baraskar'

In [4]:
name.title()

'Krishna Baraskar'

In [5]:
name.lower()

'krishna baraskar'

In [6]:
name.swapcase()

'kRISHNA bARASKAR'

In [7]:
name.count("a")

4

In [8]:
name.casefold()

'krishna baraskar'

In [9]:
name.find("na")

5

In [10]:
college = "BIT BARSHI"

In [11]:
college.casefold()

'bit barshi'

In [12]:
ab = "KRISHNA"

In [13]:
ab.lower()

'krishna'

In [14]:
ab.casefold()   #lower() converts a string to lowercase based on the Unicode standard,
                #while casefold() is more aggressive and suitable for case-insensitive comparisons, 
                #especially in a multilingual context.

'krishna'

In [15]:
reversed(name)

In [16]:
" ".join(reversed(name))

'r a k s a r a B   a n h s i r K'

In [17]:
"Krishna".join(reversed(name))

'rKrishnaaKrishnakKrishnasKrishnaaKrishnarKrishnaaKrishnaBKrishna KrishnaaKrishnanKrishnahKrishnasKrishnaiKrishnarKrishnaK'

In [18]:
"1".join(reversed(name))

'r1a1k1s1a1r1a1B1 1a1n1h1s1i1r1K'

In [19]:
list(reversed("ram Avatar"))

['r', 'a', 't', 'a', 'v', 'A', ' ', 'm', 'a', 'r']

In [20]:
for i in list(reversed(name)):
    print(i,end=" ")

r a k s a r a B   a n h s i r K

In [21]:
#Removing Charter from the end and beginning of the string

In [22]:
string = "   skills   "

In [23]:
string.strip()

'skills'

In [24]:
string.lstrip() # used for removing begining spaces

'skills   '

In [25]:
string.rstrip() # used for removing end spaces

'   skills'

In [26]:
string_a = "Greeting to TwoDimension"

In [27]:
id(string_a)

2070039482720

In [28]:
string_a.replace("to","from")

'Greeting from TwoDimension'

In [29]:
string_a.replace("Greeting","Welcome")

'Welcome to TwoDimension'

In [30]:
string_a.replace("G","B")

'Breeting to TwoDimension'

In [31]:
string_a = "test2gmail.com"
var_a = string_a.replace("2","@")
var_a

'test@gmail.com'

In [32]:
"hello \tworld".expandtabs()

'hello   world'

In [33]:
str1 = "Welcome to TwoDimension to Data science master"
str1

'Welcome to TwoDimension to Data science master'

In [34]:
str1.replace("Data science","Data Science")

'Welcome to TwoDimension to Data Science master'

In [35]:
str1.isupper()

False

In [36]:
str2="VIRAT"

In [37]:
str2.isupper()

True

In [38]:
str2.isspace()

False

In [39]:
str3 = "Krishna"
if (str3.isspace()):
    print("It's whole empty")
else:
    print("sorry, something written in that str")

sorry, something written in that str

In [40]:
str2.endswith("T")

True

In [41]:
str2.startswith("V")

True

In [42]:
# Check the if all the string are i alphanumeric
a = "abcd1234"
a.isalpha()

False

In [43]:
a.isalnum()

True

In [44]:
str2 = "TwoDimension"
count = 0
for i in str2:
    count = count+1
print(count)

12

In [45]:
len(str2)

12

In [46]:
for i in str2:
    print(i,end = " ")

T w o D i m e n s i o n

In [47]:
for i in range(len(str2)):
    print(i," ",str2[i])

0   T
1   w
2   o
3   D
4   i
5   m
6   e
7   n
8   s
9   i
10   o
11   n

In [48]:
# List

In [49]:
type([])

list

In [50]:
["Krish","Naik","TwoDimension","32"]

['Krish', 'Naik', 'TwoDimension', '32']

In [51]:
list([1,2,3,4,5,6])

[1, 2, 3, 4, 5, 6]

In [52]:
str1 = "Krishna"

In [53]:
list([str1])

['Krishna']

In [54]:
list(str1)

['K', 'r', 'i', 's', 'h', 'n', 'a']

In [55]:
str2 = "My name is Krishna"

In [56]:
lst1 = list(str2.split())
lst1

['My', 'name', 'is', 'Krishna']

In [57]:
lst1[1:]

['name', 'is', 'Krishna']

In [58]:
lst2 = list(list(str2.split()))
lst2

['My', 'name', 'is', 'Krishna']

In [59]:
lst2[::-1]

['Krishna', 'is', 'name', 'My']

In [60]:
lst2[3]="Ketan"
lst2

['My', 'name', 'is', 'Ketan']

In [61]:
lst3 = list(str2)
lst3

['M',
 'y',
 ' ',
 'n',
 'a',
 'm',
 'e',
 ' ',
 'i',
 's',
 ' ',
 'K',
 'r',
 'i',
 's',
 'h',
 'n',
 'a']

In [62]:
lst3[::-2]

['a', 'h', 'i', 'K', 's', ' ', 'm', 'n', 'y']

In [63]:
lst3[-7] = "T"

In [64]:
lst3

['M',
 'y',
 ' ',
 'n',
 'a',
 'm',
 'e',
 ' ',
 'i',
 's',
 ' ',
 'T',
 'r',
 'i',
 's',
 'h',
 'n',
 'a']

In [65]:
str4 = "My name is Krishna Baraskar"
str4

'My name is Krishna Baraskar'

In [66]:
lst4 = list(str4.split())
lst4

['My', 'name', 'is', 'Krishna', 'Baraskar']

In [67]:
# concatenate operation
lst5 = lst4 + ["Hello",4]
lst5

['My', 'name', 'is', 'Krishna', 'Baraskar', 'Hello', 4]

In [68]:
lst4*2

['My',
 'name',
 'is',
 'Krishna',
 'Baraskar',
 'My',
 'name',
 'is',
 'Krishna',
 'Baraskar']

In [69]:
if "Krishna" in lst4:
    print("Present sir")

Present sir

In [70]:
# Check element insidea list
lst = [1,2,3,4]
4 in lst

True

In [71]:
lst6 = ["Zebra","Monkey","Donkey","Lion"]
lst7 = [1,2,3,4,6,5,7,6,9]

In [72]:
max(lst6)

'Zebra'

In [73]:
min(lst6)

'Donkey'

In [74]:
max(lst7)

9

In [75]:
min(lst7)

1

In [76]:
# Append

In [77]:
lst7.append(100)
lst7

[1, 2, 3, 4, 6, 5, 7, 6, 9, 100]

In [78]:
lst6.append("Apple")
lst6

['Zebra', 'Monkey', 'Donkey', 'Lion', 'Apple']

In [79]:
lst6.pop()
lst6

['Zebra', 'Monkey', 'Donkey', 'Lion']

In [80]:
lst7.pop(0)
lst7

[2, 3, 4, 6, 5, 7, 6, 9, 100]

In [81]:
# Sorting and Reversed Wethod in list

In [82]:
new_list = ['q','w','e','r','t','y']
new_list

['q', 'w', 'e', 'r', 't', 'y']

In [83]:
new_list[::-1]

['y', 't', 'r', 'e', 'w', 'q']

In [84]:
# inplace

In [85]:
new_list.reverse()
new_list

['y', 't', 'r', 'e', 'w', 'q']

In [86]:
new_list.sort()
new_list

['e', 'q', 'r', 't', 'w', 'y']

In [87]:
new_list.sort(reverse = True)
new_list

['y', 'w', 't', 'r', 'q', 'e']

In [88]:
lst

[1, 2, 3, 4]

In [89]:
lst.append(["Two","Dimension"])
lst

[1, 2, 3, 4, ['Two', 'Dimension']]

In [90]:
lst.extend(["Amar","Akabar","Anathany"])
lst

[1, 2, 3, 4, ['Two', 'Dimension'], 'Amar', 'Akabar', 'Anathany']

In [91]:
# Nested List

In [92]:
lst_1 = [1,2,3]
lst_2 = [4,5,6]
lst_3 = [7,8,9]

# Make a list of lists to form a matrix
matrix = [lst_1,lst_2,lst_3]
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [93]:
matrix[1][2]

6

In [94]:
matrix[2][0]

7

In [95]:
# List Comprehesion
[i for i in range(20)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [96]:
# Even Number
[i if i%2 == 0 else "ODD" for i in range(20)]

[0,
 'ODD',
 2,
 'ODD',
 4,
 'ODD',
 6,
 'ODD',
 8,
 'ODD',
 10,
 'ODD',
 12,
 'ODD',
 14,
 'ODD',
 16,
 'ODD',
 18,
 'ODD']

In [97]:
#Even Numbers
[i for i in range(0,20,2)]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [98]:
[i for i in range(20) if i%2==0]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [99]:
sum_evenNymbers = sum([i for i in range(0,100,2)])
sum_evenNymbers

2450

In [100]:
# ODD Numbers
ODD_Numbers = [i if i%2!=0 else "Even" for i in range(20)]
ODD_Numbers

['Even',
 1,
 'Even',
 3,
 'Even',
 5,
 'Even',
 7,
 'Even',
 9,
 'Even',
 11,
 'Even',
 13,
 'Even',
 15,
 'Even',
 17,
 'Even',
 19]

In [101]:
ODD_Numbers = [i for i in range(1,20,2)]
ODD_Numbers

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [102]:
ODD_Numbers = [i for i in range(20) if i%2!=0]
ODD_Numbers

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [103]:
sum_oddNumbers = sum([i for i in range(1,100,2)])
sum_oddNumbers

2500

In [104]:
# Ex1. squre of first 20 numbers
[i**2 for i in range(20)]

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361]

In [105]:
# Ex2. Create the list which is contains only Positive Numbers
lst = [-2,-4,-44,67,-45,-98,32,18]
P_lst = [i for i in lst if i >= 0]
print(P_lst)

[67, 32, 18]

In [106]:
# Ex3. Create a list of only the first letter of words in a list
lst = ["Tom","Jerry",'Doremon',"Nobita","Oggy","Sijuka","Indumati"]
lst_f = [i[0] for i in lst]
lst_f

['T', 'J', 'D', 'N', 'O', 'S', 'I']

In [107]:
# Ex4. Flatten a list of list into in single list
lists = [[1,2,3],[4,5,6],[7,8,9]]
lists_flat = [z for i in lists for z in i]
lists_flat

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [108]:
lis = [j for i in lists for j in i]
lis

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [109]:
# Ex5. Create a list of only the prime numbers from the given list
numbers = [i for i in range(1,100)]
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2,int(num**0.5)+1):
        if num % i == 0:
            return False
    return True
    

lists_flat = [num for num in numbers if is_prime(num)]
lists_flat

[2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97]

In [110]:
# Ex6. Create a list of all possible combinations of 2 elements from a list
lst = [1,2,3,4,5,6]
list_2 = [(i,j) for i in lst for j in lst if j == 2]
list_2

[(1, 2), (2, 2), (3, 2), (4, 2), (5, 2), (6, 2)]

In [111]:
list_all = [(i,j) for i in lst for j in lst]
list_all

[(1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (2, 1),
 (2, 2),
 (2, 3),
 (2, 4),
 (2, 5),
 (2, 6),
 (3, 1),
 (3, 2),
 (3, 3),
 (3, 4),
 (3, 5),
 (3, 6),
 (4, 1),
 (4, 2),
 (4, 3),
 (4, 4),
 (4, 5),
 (4, 6),
 (5, 1),
 (5, 2),
 (5, 3),
 (5, 4),
 (5, 5),
 (5, 6),
 (6, 1),
 (6, 2),
 (6, 3),
 (6, 4),
 (6, 5),
 (6, 6)]