In [1]:
a = 10
type(a)

int

In [2]:
a = 'c'
type(a)

str

In [3]:
int ("123")

123

In [4]:
int('abcd')

ValueError: invalid literal for int() with base 10: 'abcd'

In [5]:
print("hello world")

hello world

In [6]:
print(123)

123

In [7]:
print('Hello World')

Hello World

In [8]:
age = 22
print("My age is : ",age)

My age is :  22

In [9]:
print("My age is : {age}")

My age is : {age}

In [10]:
#f-string in python 
#Formatting
print(f"My age is {age}")

My age is 22

In [11]:
#format
name = "Krishna"
age = 22
print("my name is {} and age is {}".format(name, age))

my name is Krishna and age is 22

In [12]:
print("My name is {} and age is {}".format(age, name))

My name is 22 and age is Krishna

In [13]:
print("My name is {Firstname} and age is {Firstage}".format(Firstname = name,Firstage = age))

My name is Krishna and age is 22

In [14]:
name = "Krishna Baraskar"
age = 22
degree = "BE"
print("My name is {}. my age is {} and my degree in {}".format(name, age, degree))

My name is Krishna Baraskar. my age is 22 and my degree in BE

In [15]:
print("My age is {} and I have completed my degree of {} With the name of {}.".format(age,degree,name))
print("My age is {Fage} and I have completed my degree of {Fdegree} With the name of {Fname}.".format(Fage=age,Fdegree=degree,Fname=name))

My age is 22 and I have completed my degree of BE With the name of Krishna Baraskar.
My age is 22 and I have completed my degree of BE With the name of Krishna Baraskar.

In [16]:
print(f"My age is {age} and I have comleted my degree of {degree} with the name of {name}")

My age is 22 and I have comleted my degree of BE with the name of Krishna Baraskar

In [17]:
# Control Flow
# Decision making Statement

In [18]:
# if Statements
age = 18
if age >= 18: # column just indicate the start of the IF Block
    print("I am eligiable to vote")

I am eligiable to vote

In [19]:
#    ==,<=,>=

In [20]:
input()
#Default data type of input() is String

Krishna Baraskar

'Krishna Baraskar'

In [21]:
name = input("Enter your name:-")

Enter your name:-Krishna Baraskar

In [22]:
age = input("Enter Your age:- ")

Enter Your age:- 22

In [23]:
type(age)

str

In [24]:
age = int(input("Enter your age:- "))
#Type casting has been done in this input()

Enter your age:- 22

In [25]:
type(age)

int

In [26]:
# Task 1
# Input age
#Whether age is greater than equal to 18 or not
# if age >= 18 and <= 45 Display You are young Blood

In [27]:
age = int(input("Enter your age"))
if age >= 18 and age <=45:
    print("You are young Blood")

Enter your age22
You are young Blood

In [28]:
# if else statement

In [29]:
age = int(input("Enter your age:-"))
if age >= 18 and age <= 45:
    print("You are young Blood")
else:
    print("Thank you, We will let you know")

Enter your age:-15
Thank you, We will let you know

In [30]:
# Task 2
#  mall:- 
#     input the product price
#     product is >1000 ----30% off
#     Print the product price
#     Product is <=1000 ----20% off
#     print the product price

In [31]:
price = int(input("Enter Product price"))
if price <= 1000:
    price = price - price*(20/100)
    print("Product Price is: ",price)
else:
    price-=price*(30/100)
    print("Product Price is: ",price)

Enter Product price2000
Product Price is:  1400.0

In [32]:
Product_price = int(input("Enter product price :-"))
if Product_price <=1000:
    print(f"Product Price is {Product_price*0.3}")
elif Product_price > 1000 and Product_price <= 3000:
    print(f"Product Price is {Product_price*0.4}")
elif Product_price > 3000:
    print(f"Product price is {Product_price* 0.5}")
else:
    print("Sorry no dicount")

Enter product price :-80000
Product price is 40000.0

In [33]:
# single statements suits

In [34]:
val = int(input("enter the value:-"))
if val > 999:print("value is Greater than or equal to 999")
else:print("Sorry")

enter the value:-99
Sorry

In [35]:
joining_age = 25
while joining_age <= 60:
    joining_age +=1
    print(joining_age)
print("your age is {}, Now its time to retired".format(joining_age))

26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
your age is 61, Now its time to retired

In [36]:
Total_Amount = 1000
while Total_Amount!=0:
    Total_Amount-=100
    print(Total_Amount)
else:
    print("money is Exhausted")

900
800
700
600
500
400
300
200
100
0
money is Exhausted

In [37]:
lst = ["Krishna",1,2,3,4,"Apple","Banana"]
lst

['Krishna', 1, 2, 3, 4, 'Apple', 'Banana']

In [38]:
type(lst)

list

In [39]:
lst[0]

'Krishna'

In [40]:
lst[-1]

'Banana'

In [41]:
for i in lst:
    print(i)

Krishna
1
2
3
4
Apple
Banana

In [50]:
fruit_List = ['Apple','Banana','Cherry','Zinger','Mango']

for fruit in fruit_List:
    print(fruit)
    if fruit =='Cherry':
        print("Oh! This is my Fav fruit")

Apple
Banana
Cherry
Oh! This is my Fav fruit
Zinger
Mango

In [51]:
fruits = 'Mango'
for x in fruit:
    print(x)

M
a
n
g
o

In [52]:
fruits[0]

'M'

In [53]:
fruits[2]

'n'

In [54]:
fruits[-3]

'n'

In [55]:
##Nested Loop

In [56]:
range(1,6)

range(1, 6)

In [57]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [58]:
for i in range(1,6,2):
    print(i)

1
3
5

In [60]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [75]:
x = int(input("Enter the Number:-"))
for i in range(0,x):
    for i in range(0,i+1):
        print("*",end = "")
    print()

Enter the Number:-5
*
**
***
****
*****