In [1]:
# Dictionary

In [2]:
d = {}

In [3]:
type(d)

dict

In [4]:
d1 = {"name" : "Krishna",
      "email_id": "krishna@gmail.com",
      "marks" : 89}
d1

{'name': 'Krishna', 'email_id': 'krishna@gmail.com', 'marks': 89}

In [5]:
type(d1)

dict

In [6]:
d2 = {"name" : "Krisna", "name" : "krishna"}
d2

{'name': 'krishna'}

In [7]:
d3 = {1234 : "abcd"}
d3

{1234: 'abcd'}

In [8]:
d4 = {234.56 : "qwer"}
d4

{234.56: 'qwer'}

In [9]:
d5 = {True : 1}
d5

{True: 1}

In [10]:
d6 = {"#" : "Krishna"}
d6

{'#': 'Krishna'}

In [11]:
d7 = {@ : "abd"}

SyntaxError: invalid syntax (247784235.py, line 1)

In [12]:
d8 = {[1,2,3] : "asd"}

TypeError: unhashable type: 'list'

In [13]:
d9 = {(1,2,2) : 30}
d9

{(1, 2, 2): 30}

In [14]:
d10 = {{1,5,9} : "sdf"}

TypeError: unhashable type: 'set'

In [15]:
d11 = {{"abv" : "value" } : "asdf"}

TypeError: unhashable type: 'dict'

In [16]:
d12 = {"course_name" :["Data Sience","Web Dev","Java with DSA"]}
d12

{'course_name': ['Data Sience', 'Web Dev', 'Java with DSA']}

In [17]:
d13 = {"key": {1,2,3}}
d13

{'key': {1, 2, 3}}

In [18]:
d14 = {"abv" : (4,56,6)}
d14

{'abv': (4, 56, 6)}

In [19]:
d15 = {"key" : {"name" : "Krishna", "Class" : "DSM"}}
d15

{'key': {'name': 'Krishna', 'Class': 'DSM'}}

In [20]:
d16 = {"batch_name" : ["Data Science master", "web dev","JDS"],"start_date" : (21,19,23),"Mentor_name" : {"Krish naik","avinash Chauhan"}}
d16

{'batch_name': ['Data Science master', 'web dev', 'JDS'],
 'start_date': (21, 19, 23),
 'Mentor_name': {'Krish naik', 'avinash Chauhan'}}

In [21]:
d16["name"] = "Krishna"

In [22]:
d16

{'batch_name': ['Data Science master', 'web dev', 'JDS'],
 'start_date': (21, 19, 23),
 'Mentor_name': {'Krish naik', 'avinash Chauhan'},
 'name': 'Krishna'}

In [23]:
d16.keys()

dict_keys(['batch_name', 'start_date', 'Mentor_name', 'name'])

In [24]:
d16.values()

dict_values([['Data Science master', 'web dev', 'JDS'], (21, 19, 23), {'Krish naik', 'avinash Chauhan'}, 'Krishna'])

In [25]:
list(d16.values())

[['Data Science master', 'web dev', 'JDS'],
 (21, 19, 23),
 {'Krish naik', 'avinash Chauhan'},
 'Krishna']

In [26]:
list(d16.items())

[('batch_name', ['Data Science master', 'web dev', 'JDS']),
 ('start_date', (21, 19, 23)),
 ('Mentor_name', {'Krish naik', 'avinash Chauhan'}),
 ('name', 'Krishna')]

In [27]:
d17 = d16.copy()
d17

{'batch_name': ['Data Science master', 'web dev', 'JDS'],
 'start_date': (21, 19, 23),
 'Mentor_name': {'Krish naik', 'avinash Chauhan'},
 'name': 'Krishna'}

In [28]:
del d17["name"]

In [29]:
d16

{'batch_name': ['Data Science master', 'web dev', 'JDS'],
 'start_date': (21, 19, 23),
 'Mentor_name': {'Krish naik', 'avinash Chauhan'},
 'name': 'Krishna'}

In [30]:
d17

{'batch_name': ['Data Science master', 'web dev', 'JDS'],
 'start_date': (21, 19, 23),
 'Mentor_name': {'Krish naik', 'avinash Chauhan'}}

In [31]:
d18 = d16
d18

{'batch_name': ['Data Science master', 'web dev', 'JDS'],
 'start_date': (21, 19, 23),
 'Mentor_name': {'Krish naik', 'avinash Chauhan'},
 'name': 'Krishna'}

In [32]:
d18.pop("start_date")

(21, 19, 23)

In [33]:
d16

{'batch_name': ['Data Science master', 'web dev', 'JDS'],
 'Mentor_name': {'Krish naik', 'avinash Chauhan'},
 'name': 'Krishna'}

In [34]:
d.fromkeys((1,2,3),('q','w','e'))

{1: ('q', 'w', 'e'), 2: ('q', 'w', 'e'), 3: ('q', 'w', 'e')}

In [35]:
d19 = {"key1":"value1","key2":"value2"}
d20 = {"key3":"value3","key4":"value4"}

In [36]:
(d19,d20)

({'key1': 'value1', 'key2': 'value2'}, {'key3': 'value3', 'key4': 'value4'})

In [37]:
d19.update(d20)

In [38]:
d19

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3', 'key4': 'value4'}

In [39]:
d19["key"]

KeyError: 'key'

In [40]:
d19.get("key")

In [41]:
d19.get("key1")

'value1'

In [42]:
# Dictionary Comprehensions

In [43]:
sqr = {i: i ** 2 for i in range(1,10)}
sqr

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [44]:
type(sqr)

dict

In [45]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [46]:
{i : i+10 for i in range(1,10)}

{1: 11, 2: 12, 3: 13, 4: 14, 5: 15, 6: 16, 7: 17, 8: 18, 9: 19}

In [47]:
import math
d21 = {i : math.log10(i) for i in range(1,11)}
d21

{1: 0.0,
 2: 0.3010299956639812,
 3: 0.47712125471966244,
 4: 0.6020599913279624,
 5: 0.6989700043360189,
 6: 0.7781512503836436,
 7: 0.8450980400142568,
 8: 0.9030899869919435,
 9: 0.9542425094393249,
 10: 1.0}

In [48]:
"start_date" in d17

True

In [49]:
d21.keys()

dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

In [50]:
for i in d21.keys():
    if i%2 == 0:
        print(d21[i])

0.3010299956639812
0.6020599913279624
0.7781512503836436
0.9030899869919435
1.0

In [51]:
# Function In Python

In [52]:
print("This is my prog")

This is my prog

In [53]:
l = [1,2,3,4,5]
len(l)

5

In [54]:
def test():
    pass

In [55]:
def test():
    print("This is my very very frist fun")

In [56]:
test()

This is my very very frist fun

In [57]:
def test2():
    return "this is my fun with return"

In [58]:
test2()

'this is my fun with return'

In [59]:
test2() + " ram"

'this is my fun with return ram'

In [60]:
def test3():
    return 1,4,"pwskills",34.25

In [61]:
test3()

(1, 4, 'pwskills', 34.25)

In [62]:
a = 1,2,3,4,5

In [63]:
a

(1, 2, 3, 4, 5)

In [64]:
type(a)

tuple

In [65]:
a,b,c,d,e = 1,2,"Krishna",True,5.20

In [66]:
print(a)
print(b)
print(c)
print(d)
print(e)

1
2
Krishna
True
5.2

In [67]:
test3()

(1, 4, 'pwskills', 34.25)

In [68]:
test3()[0]

1

In [69]:
test3()[1]

4

In [70]:
a,b,c,d = test3()

In [71]:
a

1

In [72]:
c

'pwskills'

In [73]:
def test4():
    a = 3*4 + 5
    return a

In [74]:
test4()

17

In [75]:
def test5(a,b):
    c = a+b
    return c

In [76]:
test5(10,25)

35

In [77]:
test5("Krishna"," Baraskar")

'Krishna Baraskar'

In [78]:
test5(b = " Krishna" , a = "Baraskar")

'Baraskar Krishna'

In [79]:
l = [1,2,3,4,5,"Krishna","Two Dimension",[1,56,14,25,85]]
print(l)

[1, 2, 3, 4, 5, 'Krishna', 'Two Dimension', [1, 56, 14, 25, 85]]

In [80]:
# create a function which will take list as a input 
# and give me a final list with all the numberic value

In [81]:
def numbers(l):
    num_list = []
    for i in l:
        if type(i) == int or type(i) == float:
            num_list.append(i)
    return num_list
l = [1,2,3,4,5,"Krishna","Two Dimension",[1,56,14,25,85]]

result = numbers(l)
print(result)

[1, 2, 3, 4, 5]

In [82]:
def test7(a):
    num_fun = []
    for i in a:
        if type(i) == int or type(i) == float:
            num_fun.append(i)
        else:
            if type(i) == list:
                for j in i:
                    if type(j) == int or type(j) == float:
                        num_fun.append(j)
    return num_fun

In [83]:
k = [1,2,3,4,5,"Krishna","Two Dimension",[1,56,14,25,85]]

result = test7(k)
result

[1, 2, 3, 4, 5, 1, 56, 14, 25, 85]