# Python Data Structre

- Boolean
- Boolean and Logical Operators
- Lists
- Comparision Operators
- Dictionaries
- Tuples
- Sets

**Boolean Variables**

Boolean Values are the two constant objects False and True.

They are used to represent truth values(other values can also be considered false and ture).

In numeric context (for example, when used as the arguments to an arithmetic operator), they bahave like the 0 and 1 respectively.

The built-in function bool() can be used any value to a boolean, if the value can be interpreted as a truth value

They are written as False and True, respectively.

In [7]:
bool()

False

In [1]:
print(True,False)

True False

In [8]:
True

True

In [9]:
False

False

In [10]:
type(True)

bool

In [11]:
type(False)

bool

In [13]:
# type(true) # here true is variable for boolean value we must take first later capital as True and False

In [26]:
my_str = "KrishnaBaraskar"

In [17]:
my_str1 = "k1r2i3s4h5n6a7"

In [23]:
# .alnum() is used for check all charecters are in numbers 0-9 or Alphabetic like a-z and A-Z.
print("for my_str : ",my_str.isalnum())
print("for my_str1 : ",my_str1.isalnum())

for my_str :  False
for my_str1 :  True

In [27]:
# .isalpha() is used for check all charecters are in aplhabets.
print("for my_str : ",my_str.isalpha())
print("for my_str1 : ",my_str1.isalpha())

for my_str :  True
for my_str1 :  False

In [32]:
# .isdigit() test if string contains all digit.
my_str2 = "123456"
print("for my_str : ",my_str.isdigit())
print("for my_str1 : ",my_str1.isdigit())
print("for my_str2 : ",my_str2.isdigit())

for my_str :  False
for my_str1 :  False
for my_str2 :  True

In [35]:
# .istitle() test if string contains title words
my_str3 = "Krishna Bhausaheb Baraskar"
print("for my_str : ",my_str.istitle())
print("for my_str3 : ",my_str3.istitle())

for my_str :  False
for my_str3 :  True

In [39]:
# .isupper() & .islower() test if string contains upper and lower respetcivly.
my_str4 = "KRISHNA BARASKAR"
my_str5 = "krishna baraskar"
print("for my_str : ",my_str.isupper())
print("for my_str : ",my_str.islower())

print("for my_str4 : ",my_str4.isupper())
print("for my_str4 : ",my_str4.islower())

print("for my_str5 : ",my_str5.isupper())
print("for my_str5 : ",my_str5.islower())

for my_str :  False
for my_str :  False
for my_str4 :  True
for my_str4 :  False
for my_str5 :  False
for my_str5 :  True

In [44]:
# .isspace() test if string contains only spaces
my_str6 = "   krishna    B"
my_str7 = "             "
print("for my_str6 : ",my_str6.isspace())
print("for my_str7 : ",my_str7.isspace())

for my_str6 :  False
for my_str7 :  True

In [46]:
# .endswith("#") and .startwith("#") test if string contains endswith and startwith with respective char
print("for my_str3 : ",my_str3.endswith("r"))
print("for my_str3 : ",my_str3.startswith("k"))     #Python is case sensetive language
print("for my_str3 : ",my_str3.startswith("K"))

for my_str3 :  True
for my_str3 :  False
for my_str3 :  True

**Boolean and Logical Operators**

In [47]:
True and True

True

In [49]:
True and False      # True is only True with `True and True` otherwise False

False

In [50]:
True or False

True

In [51]:
True or True

True

In [53]:
False or False      # False is only False with `False or False` Otherwise True

False

In [54]:
my_str3.startswith("k") or my_str3.startswith("K")

True

In [56]:
my_str3.startswith("k") and my_str3.startswith("K")

False

**Lists**

A list is a data stucture in python that a mutable or changeable, ordered sequence of elements. Each elements or value that is inside of a list is called as item. Just as strings are defined as characters between quotes, lists sre defined  by havings values between square brackets[].

In [57]:
type([])

list

In [58]:
lst_example=[]
type(lst_example)

list

In [59]:
lst = list()

In [60]:
type(lst)

list

In [61]:
lst = ["maths","chemistry",100,10.2,True,1,[1,2,3,4],(1,5,8),{1,2,True},{"a":10,"v" : 45}]

In [63]:
lst

['maths',
 'chemistry',
 100,
 10.2,
 True,
 1,
 [1, 2, 3, 4],
 (1, 5, 8),
 {1, 2},
 {'a': 10, 'v': 45}]

In [65]:
type(lst)       # A list can contains all type of data type and Data strutures & Duplicates also

list

In [66]:
len(lst)

10

*Append*

In [69]:
# .append() is used to add elemnts in the list
lst.append("Krishna")

In [68]:
lst

['maths',
 'chemistry',
 100,
 10.2,
 True,
 1,
 [1, 2, 3, 4],
 (1, 5, 8),
 {1, 2},
 {'a': 10, 'v': 45},
 'Krishna']

In [70]:
# Indexing in list
lst[10]

'Krishna'

In [72]:
lst[6:]

[[1, 2, 3, 4], (1, 5, 8), {1, 2}, {'a': 10, 'v': 45}, 'Krishna', 'Krishna']

In [75]:
lst[::2]        # check in perticuller order

['maths', 100, True, [1, 2, 3, 4], {1, 2}, 'Krishna']

*Insert*

In [76]:
# .insert() in specific order
lst.insert(5,"Baraskar")

In [77]:
lst

['maths',
 'chemistry',
 100,
 10.2,
 True,
 'Baraskar',
 1,
 [1, 2, 3, 4],
 (1, 5, 8),
 {1, 2},
 {'a': 10, 'v': 45},
 'Krishna',
 'Krishna']

*Extend Method*

In [78]:
lst.extend([6,7])

In [79]:
lst

['maths',
 'chemistry',
 100,
 10.2,
 True,
 'Baraskar',
 1,
 [1, 2, 3, 4],
 (1, 5, 8),
 {1, 2},
 {'a': 10, 'v': 45},
 'Krishna',
 'Krishna',
 6,
 7]

In [82]:
lst1 = [1,2,34,5,8,6]
lst1.extend([100,101])

In [83]:
lst1

[1, 2, 34, 5, 8, 6, 100, 101]

*Various Operations that performed by using list*

In [84]:
sum(lst1)

257

*Pop() Method*

In [85]:
lst.pop()

7

In [86]:
lst

['maths',
 'chemistry',
 100,
 10.2,
 True,
 'Baraskar',
 1,
 [1, 2, 3, 4],
 (1, 5, 8),
 {1, 2},
 {'a': 10, 'v': 45},
 'Krishna',
 'Krishna',
 6]

In [87]:
# At any Specific elements
lst.pop(10)

{'a': 10, 'v': 45}

In [88]:
lst

['maths',
 'chemistry',
 100,
 10.2,
 True,
 'Baraskar',
 1,
 [1, 2, 3, 4],
 (1, 5, 8),
 {1, 2},
 'Krishna',
 'Krishna',
 6]

In [90]:
lst1.pop(0)     # It remove the first elemnts in list

2

*count():Calculates total occurrences of given elements of List*

In [96]:
lst.count("Krishna")

2

In [107]:
# .index() : Returns the index of first occurrence. Start and End index are not necessary parameters
lst = [1,2,3,4,5,"Krishna"]
print(lst.index("Krishna",3,6))
print(lst.index("Krishna"))

5
5

In [110]:
# Min and Max
lst2 = [1,5,347,69,216,452,0,6,56]
min(lst2)

0

In [111]:
max(lst2)

452

**SETS**

A Set is an unordered collection data type thats is iterable,mutable, and has no duplicates elements.Python's set class represents the mathamatical notation of a set. This is based on a data structure known as a hash table.

In [112]:
# Defining an empty set
set_var = set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [115]:
dict = {}
print(type(dict))

<class 'dict'>

In [129]:
set_var = {"Avengers","IronMan","Hitman"}
print(set_var)
print(type(set_var))

{'Avengers', 'IronMan', 'Hitman'}
<class 'set'>

In [118]:
# set_var[0]    # Sets are does not support indexing

In [120]:
# set_var["Avengers"]       # Sets are does not support subscriptable

*Inbuilt Functions in Sets*

In [130]:
# Adding the elements in sets

set_var.add("Hulk")

In [131]:
set_var

{'Avengers', 'Hitman', 'Hulk', 'IronMan'}

In [132]:
set_var.pop()   # Its remove random element from set

'Avengers'

.remove(#)      it is used for remove any perticuller element from the set.

In [133]:
set_var.remove("Hulk")

In [134]:
set_var

{'Hitman', 'IronMan'}

In [136]:
# copy of set_var
abc = set_var.copy()

In [137]:
abc

{'Hitman', 'IronMan'}

In [138]:
abc.clear()

In [139]:
abc

set()

In [140]:
set_var

{'Hitman', 'IronMan'}

In [148]:
set1 = {"Avengers","Ironman","Hitman"}
set2 = {"Avengers","Ironman","Hitman","Hulk2"}

In [144]:
# Difference
set2.difference(set1)       # we dont update this value in set2 this method just check the difference

{'Hulk2'}

In [146]:
# Difference Update
set2.difference_update(set1)

In [147]:
set2

{'Hulk2'}

In [149]:
# Intersection

set2.intersection(set1)

{'Avengers', 'Hitman', 'Ironman'}

In [150]:
# Union
set2.union(set1)

{'Avengers', 'Hitman', 'Hulk2', 'Ironman'}

**Dictionaries**

A dictionary is a collection which is unorderd, changable, and indexed. In Python dictionaries are written with curly brackets, and they have keys and values pairs.

In [151]:
dict = {}
print(dict)
print(type(dict))

{}
<class 'dict'>

In [152]:
dic = {1,2,3,4,5}

In [153]:
type(dic)

set

In [154]:
# Lets create a dictionary

my_dict = {"Car1" : "Audi",
           "Car2" : "BMW",
           "Car3" : "Mercidies Benz"}

In [155]:
type(my_dict)

dict

In [156]:
my_dict

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Mercidies Benz'}

In [157]:
# Acces the item values based on keys

my_dict["Car2"]

'BMW'

In [158]:
# We can gets all keys by using for loop

for i in my_dict:
    print(i)

Car1
Car2
Car3

In [159]:
# We can gets all values by using for loop

for i in my_dict.values():
    print(i)

Audi
BMW
Mercidies Benz

In [160]:
# We can also check both keys and values

for i in my_dict.items():
    print(i)

('Car1', 'Audi')
('Car2', 'BMW')
('Car3', 'Mercidies Benz')

In [161]:
# Adding items in dictonaries

my_dict["Car4"] = "RR"

In [162]:
my_dict

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Mercidies Benz', 'Car4': 'RR'}

In [165]:
my_dict["Car1"] = "Buggati"

In [166]:
my_dict

{'Car1': 'Buggati', 'Car2': 'BMW', 'Car3': 'Mercidies Benz', 'Car4': 'RR'}

Nested Dictionary

In [171]:
car1_model = {"Mercedes" : 1960}
car2_model = {"Audi" : 1970}
car3_model = {"Ambassador" : 1980}

car_type = {"car1" : car1_model,
            "car2" : car2_model,
            "car3" : car3_model}

In [172]:
car_type

{'car1': {'Mercedes': 1960},
 'car2': {'Audi': 1970},
 'car3': {'Ambassador': 1980}}

In [173]:
car_type["car3"]

{'Ambassador': 1980}

In [174]:
car_type["car1"]["Mercedes"]

1960

In [175]:
for i in car_type.items():
    print(i)

('car1', {'Mercedes': 1960})
('car2', {'Audi': 1970})
('car3', {'Ambassador': 1980})

In [184]:
for i in car_type.items():
    for x in i:
        print(x)

car1
{'Mercedes': 1960}
car2
{'Audi': 1970}
car3
{'Ambassador': 1980}

Tuples

In Python, a tuple is an ordered, immutable collection of elements. This means that once a tuple is created, its contents cannot be changed.

In [185]:
# Create an empty tuples
my_tup = tuple()
print(my_tup)
print(type(my_tup))

()
<class 'tuple'>

In [186]:
my_tup = ()
print(my_tup)
print(type(my_tup))

()
<class 'tuple'>

In [187]:
my_tup = (1)
print(my_tup)
print(type(my_tup))

1
<class 'int'>

In [189]:
my_tup = (1,)
print(my_tup)
print(type(my_tup))

(1,)
<class 'tuple'>

In [190]:
my_tuple = ("krishna","shubham","Ankur","john")

In [191]:
my_tuple[1]

'shubham'

In [192]:
my_tuple[1::2]

('shubham', 'john')

In [194]:
# my_tuple["Ankur"] = ("Amar")      #'tuple' object does not support item assignment

In [197]:
my_tuple.index("Ankur")

2

In [198]:
my_tuple.count("Ankur")

1